.footerWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #424242;
  color: rgba(255, 255, 255, .4);
}

.imageStyle {
  width: 36px;
  height: 36px;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: rgba(255, 255, 255, 0.870588);
}

.socialIconStyle {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.870588);
}

.buttonColor {
  color: rgba(255, 255, 255, 0.870588)!important;
}