.wrapper {
  width: 37em;
  height: 37em;
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  overflow: hidden;
  display: inline-block;
  padding: 1em;
  margin: 10px 0;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.sendButton {
  align-self: center;
  margin: 1em;
}

.textDiv {
  min-height: 103px;
}

.multiLineTextDiv {
  min-height: 137px;
}

